/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/


body {
    width: 900px;
    margin: auto;
    background-color:  lightyellow;
    color: black;
    text-align: center;
}

h1 {
    background-color: black;
    text-align: center ;
    color: white;
    padding: 10px;
    
   
}

nav ul {
    background-color: darkgrey;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width : 150px;
    
}


nav li {
    display: inline-block;
    padding: 5px;
}

nav li :hover {
background-color: black;

}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%
    
}

naruto {
    
   align-content: center;
   width: 300px;
   height: 250px;
     
}